discord
discord.py
dnspython
Flask
nltk
numpy
PyNaCl
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tk
wikipedia
fastapi
uvicorn
debugpy
jinja2
scikit-learn