@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.sidebar-icon {
		@apply relative flex items-center justify-center w-12 h-12 m-2 mb-2 mx-auto shadow-lg bg-base-100 text-base-content hover:bg-primary hover:text-primary-content rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
	}

	.sidebar-tooltip {
		@apply absolute w-auto z-10 p-2 m-2 min-w-max left-14 rounded-md shadow-md text-base-content bg-base-200 text-sm font-bold transition-all duration-100 scale-0 origin-left;
	}
}
