<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        src="https://api.dicebear.com/7.x/notionists-neutral/svg?seed=valiantlynx_bot"
      />
    </div>
  </div>
  <div class="chat-header">
    You
    <time class="text-xs opacity-50">12:46</time>
  </div>
  <div class="chat-bubble">{{q}}</div>
  <div class="chat-footer opacity-50">Seen at 12:46</div>
</div>

<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        src="https://api.dicebear.com/7.x/notionists-neutral/svg?seed=you"
      />
    </div>
  </div>
  <div class="chat-header">
    Valiantlynx bot
    <time class="text-xs opacity-50">12:45</time>
  </div>
  <div class="chat-bubble">{{ res }}</div>
  <div class="chat-footer opacity-50">Delivered</div>
</div>
