---
name: logger

on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: install python packages
        working-directory: packages/scripts/python/logger
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute logger
        working-directory: packages/scripts/python/logger
        run: python logger.py
        env:
          HOST_URL: https://www.valiantlynx.com

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "backed up pocketbase"
          git diff-index --quiet HEAD || (git commit -m "backed up pocketbase" --allow-empty)

      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
